.gnocchi-button
  @extends $reset
  @extends $box
  @extends $space
  @extends $hover
  @extends $click
  @extends $focus
  display inline-block
  height 40px
  font-size 14px
  line-height 100%
  letter-spacing -0.02em
  user-select none

  .gnocchi-icon
    position relative
    top 1px
    vertical-align bottom

  &-action
    color white
    background-color #333
    border-color @background-color

    &:hover
      color @color
      background-color #666
      border-color @background-color

    &:active
      color @color
      background-color #999
      border-color @background-color

  &-highlight
    border-color currentColor

  &-lowlight
    color #ccc

  &-block
    display block
    width 100%
