.gnocchi-button
  @extends $reset
  @extends $container
  @extends $box
  @extends $space
  @extends $hover
  @extends $click
  @extends $focus
  @extends $typography
  // font-size 14px
  line-height 100%
  letter-spacing -0.02em
  // color #333
  user-select none

  .gnocchi-icon
    position relative
    top 1px
    vertical-align bottom

  span + .gnocchi-icon
    margin-left 4px

  &-action
    color white
    background-color #333
    border-color @background-color

    &:hover
      color @color
      background-color #666
      border-color @background-color

    &:active
      color @color
      background-color #999
      border-color @background-color

  &-highlight
    border-color currentColor

  &-lowlight
    color #ccc

  &-fit
    display inline-block
    width auto
