.ravioli-button
  @extends $reset
  @extends $container
  @extends $box
  @extends $space
  @extends $hover
  @extends $click
  @extends $focus
  @extends $typography
  line-height 100%
  text-align center
  text-decoration none
  letter-spacing -0.02em
  user-select none

  a&
    line-height 35px
    padding-top 0
    padding-bottom 0

  > *
    vertical-align middle

  .ravioli-icon
    font-size 18px
    position relative
    top 1px

  * + .ravioli-icon
    margin-left 6px

  &-action
    color white
    background-color #333
    border-color @background-color

    &:hover
      color @color
      background-color #666
      border-color @background-color

    &:active
      color @color
      background-color #999
      border-color @background-color

  &-highlight
    border-color currentColor

  &-lowlight,
  &[disabled]
    color #ccc

  &-fit
    display inline-block
    width auto
