$number-button
  @extends $hover
  @extends $click
  width 100%
  height 50%
  text-align center
  color #333

.gnocchi-number
  position relative

  .gnocchi-text
    padding-right 40px

  &-buttons
    position absolute
    top 0
    right 0
    width 36px
    height 100%
    font-size 14px
    user-select none

  &-up
    @extends $number-button

    .gnocchi-icon
      position relative
      top 2px

  &-down
    @extends $number-button
