.gnocchi-number
  @extends $field-box
  position relative

.gnocchi-number-input
  @extends $input
  padding-right 40px

.gnocchi-number-buttons
  position absolute
  top 0
  right 0
  width 36px
  height 100%
  font-size 14px

$number-button
  @extends $reset
  position relative
  height 50%
  color #333

  &:hover
    color #666

.gnocchi-number-up
  @extends $number-button

.gnocchi-number-down
  @extends $number-button

  .gnocchi-icon
    vertical-align 0
