.ravioli-select
  @extends $container
  @extends $typography
  @extends $no-focus
  position relative
  height auto
  cursor default
  user-select none

  &:focus
    .ravioli-text
      border-color #333

  &.ravioli--is-open
    .ravioli-text
      border-radius 4px 4px 0 0
      border-bottom-color white

  .ravioli-text
    position relative
    padding-right 34px

  &-display
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  &-button
    @extends $hover
    @extends $click
    position absolute
    top 0
    right 0
    width 36px
    height 100%
    font-size 14px
    text-align center

    .ravioli-icon
      position relative
      top 50%
      transform translateY(-70%)

  &-list
    position absolute
    display none
    min-width 100%
    list-style none
    z-index 1

    .ravioli--is-open &
      display block

  &-option
    @extends $box
    @extends $space
    position relative
    min-height 40px
    background-color white
    border-top-width 0
    border-bottom-width 0
    border-radius 0
    white-space nowrap

    &:last-child
      border-bottom-width 1px
      border-radius 0 0 4px 4px

    :focus &
      border-color #333

    &.ravioli--is-focused
      color white
      background-color #333

    &.ravioli--is-selected
      font-weight bold

    .ravioli-icon
      font-size 16px
      margin-left 6px
      vertical-align sub

  &-option-empty
    font-style italic
