.gnocchi-select
  @extends $container
  @extends $typography
  @extends $no-focus
  position relative
  height auto
  cursor default
  user-select none

  &:focus
    .gnocchi-text
      border-color #333

  &.gnocchi--is-open
    .gnocchi-text
      border-radius 4px 4px 0 0
      border-bottom-color white

  .gnocchi-text
    position relative

  &-button
    @extends $hover
    @extends $click
    position absolute
    top 0
    right 0
    width 36px
    height 100%
    font-size 14px
    text-align center

    .gnocchi-icon
      position relative
      top 50%
      transform translateY(-70%)

  &-options
    position absolute
    display none
    width 100%
    list-style none

    .gnocchi--is-open &
      display block

  &-option
    @extends $box
    @extends $space
    position relative
    background-color white
    border-top-width 0
    border-bottom-width 0
    border-radius 0
    padding-left 36px

    &:last-child
      border-bottom-width 1px
      border-radius 0 0 4px 4px

    :focus &
      border-color #333

    &.gnocchi--is-focused
      color white
      background-color #333

    &.gnocchi--is-selected
      font-weight bold

    .gnocchi-icon
      position absolute
      left 10px
      top 50%
      transform translateY(-50%)
      font-size 16px
