.ravioli-text-wrapper
  @extends $container
  position relative

  .ravioli-placeholder
    position absolute
    font-size 14px
    top 10px
    left 12px
    cursor text
    pointer-events none

  &.ravioli--is-required
    .ravioli-placeholder
      text-indent 20px

.ravioli-text
  @extends $reset
  @extends $container
  @extends $box
  @extends $space
  @extends $typography
  @extends $focus

  .ravioli--has-counter &
    padding-right 45px

  &-required-icon
    position absolute
    top 12px
    left 12px
    color #b9b9b9
    pointer-events none
