.gnocchi-text-wrapper
  @extends $container
  position relative

.gnocchi-text
  @extends $reset
  @extends $container
  @extends $box
  @extends $space
  @extends $typography
  @extends $focus

  .gnocchi--has-counter &
    padding-right 45px

  .gnocchi--is-required &
    &::placeholder
      text-indent 20px

  &::placeholder
    color #b9b9b9

  &-required-icon
    position absolute
    top 12px
    left 12px
    color #b9b9b9
